@font-face {
    font-family: Futura PT;
    src: url('../../fonts/Futura\ Book\ font.ttf');
}

@font-face {
    font-family: Montserrat Variable;
    src: url('../../fonts/Montserrat-ExtraBold.ttf');
}

@keyframes slidedown {
    from {
        margin-top: -100%;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes fade-side {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homepage-main {
    font-family: "Futura PT";
    overflow-x: hidden;
}  

/* Section One */
.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.writeup {
    width: 33.031rem;
    height: 16.25rem;
    animation-duration: 5s;
    animation-name: fade-bottom;
}

.writeup > .h2 {
    font-family: Montserrat Variable, sans-serif;
    font-size: 1.9rem;
}

.writeup > .h2 > span {
    color: #239ED9;
    font-weight: bold;
}

.writeup > .first-p-tag {
    font-family: Futura PT;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    letter-spacing: 0.3rem;
}

.writeup > .second-p-tag{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-family: Futura PT;
}

#writeup-button {
    padding: 0.75rem 2rem;
    background: #239ED9;
    border-radius: 4px;
    outline: none;
    border: 0.1rem solid #239ED9;
    color: #fff;
    margin-right: 0.7rem;
    font-family: Futura PT;
    font-size: 1rem;
    cursor: pointer;
    transition: all 1s;
}

#writeup-button2 {
    padding: 0.75rem 2rem;
    background: white;
    border-radius: 4px;
    outline: none;
    border: 0.1rem solid #239ED9;
    color: #239ED9;
    margin-right: 0.7rem;
    font-family: Futura PT;
    font-size: 1rem;
}

#writeup-button2 > span {
    margin-left: 0.5rem;
}

#writeup-button:hover {
    background: #1b7aa7;
}
#writeup-button2:hover {
    background: #1b7aa7;
    border: 0.1rem solid #1b7aa7;
    color: white;
}

.writeup-image {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 5s;
    animation-name: fadein;

}

.writeup-image > img {
    margin: 0;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
/* Section One End */


/* Section Two */

.section2 {
    margin-top: 1rem;
    width: auto;
    height: 100%;
    background: #E2F3FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.section2 > h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size:  1.5rem;
}

.section2 > button {
    font-family: Futura PT;
    padding: 0.75rem 2rem;
    background: none;
    border-radius: 4px;
    outline: none;
    border: 1px solid #239ED9;
    color: #239ED9;
    transition: all 1s;
    font-size: 1rem;
    cursor: pointer;
}

.section2 > button:hover {
    background: #239ED9;
    color: white;
}

/* Card Styles */

.card {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Futura PT;
    animation-duration: 3s;
    animation-name: fade-side;
    background: none;
    border: none;
}

.card > * {
    margin: 0 1.5rem;
}        

.cardbody {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardbody .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90px;
}

.card-img {
    margin: 0;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: fill;
}

.card-tag {
    text-align: center;
    font-weight: 700;
}

.card-text {
    width: auto;
    height: auto;
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: center;
}

/* Section Two End */

/* Section 3 */

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem;
    font-size: 1rem;
}

.section3 > h3 {
    text-align: center;
    width: 36.75rem;
    font-size: 1.5rem;
}

.section3 > button {
    padding: 0.75rem 2rem;
    background: #239ED9;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;
}

.section3 > button:hover {
    background: #1b7aa7;
}

.single-cardbody {
    font-family: Futura PT, sans-serif;
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 1rem;
}

.single-cardbody > .text-container{
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.single-cardbody > .text-container > *{
    margin: 0.5rem 0;
}

.single-cardbody > .text-container > .single-card-header{
    font-family: Montserrat Variable, sans-serif;
    font-weight: 700;
}

.single-cardbody > .text-container > button {
    padding: 0.75rem 2rem;
    background: #239ED9;
    border-radius: 4px;
    outline: none;
    border: 0.1rem solid #239ED9;
    color: #fff;
    margin-right: 0.7rem;
    font-family: Futura PT;
    font-size: 1rem;
    cursor: pointer;
    transition: all 1s;
    width: fit-content;
}

.single-cardbody > .text-container > button:hover {
    background: #1b7aa7;
    border: 0.1rem solid #1b7aa7;
}

.single-card-tag {
    border-radius: 1rem;
    color: #239ED9;
    background: #E2F3FC;
    width: fit-content;
}

.single-cardbody > .img-container > img{
    margin: 0;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: fill;
}
.single-cardbody > .img-container{
    width:  528px;
    height: 482px;
}
/* Section 3 End*/

/* Section 4 */

.section4 {
    width: auto;
    color: white;
    height: 100%;
    background: #131622;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
}

.section4 > h2 {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    grid-column: 1 / span 4;
    text-align: center;
}

.section4 > .row-div {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
}

.row-div > * {
    margin-bottom: 1.5rem;
}

.row-div > button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    width: auto;
    text-align: left;
}

.logodiv > button {
    text-align: center;
}

.row-div > .exqureLogo {
    margin-top: -1rem;
}

.logodiv {
    align-items: center;
    justify-content: center;
}

.socials {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials > * {
    cursor: pointer;
}

/* Section 4 End */

footer {
    color: white;
    background: #131622;
    border-top: 1px solid black;
    padding-top: 0.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2rem;
}