* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homepage-main {
    font-family: "Futura PT",
}


/* Section One */
.section1 {
    margin-top: 12rem;
    margin-left: 6rem;
    display: flex;
    width: 66rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.writeup {
    width: 527.36px;
    height: 244.11px;
}

.writeup > .first-p-tag {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.writeup > .second-p-tag{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.writeup > button {
    padding: 0.75rem 2rem;
    background: #239ED9;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;
}

.writeup > button:hover {
    background: #1b7aa7;
}
/* Section One End */


/* Section Two */

.section2 {
    margin: 2rem 0;
    width: 100%;
    height: 100%;
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 7.5rem;
}

.section2 > h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size:  1.5rem;
}

.section2 > button {
    padding: 0.75rem 2rem;
    background: none;
    border-radius: 4px;
    outline: none;
    border: 1px solid #239ED9;
    color: #239ED9;;
}

.section2 > button:hover {
    background: #239ED9;
    color: white;
}

/* Card Styles */

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.card > * {
    margin: 3rem;
}

.img-conatiner {
    cursor: pointer;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-img {
    cursor: pointer;
    margin: 0;
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.card-text {
    margin-top: 1rem;
}

/* Section Two End */

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3 > button {
    padding: 0.75rem 2rem;
    background: #239ED9;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;
}

.section3 > button:hover {
    background: #1b7aa7;
}