@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,400&family=Montserrat:ital,wght@0,100;0,400;0,500;0,800;1,100;1,300;1,400;1,500&display=swap");
@font-face {
  font-family: Futura PT;
  /* src: url("../../fonts/Futura\ Book\ font.ttf"); */
  src: url("../../../fonts/Futura\ Book\ font.ttf");
}
@font-face {
    font-family: Montserrat Variable;
    src: url("../../../fonts/Montserrat-ExtraBold.ttf");
  }

.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7%;
}
#h2{
    margin-bottom :3%;
}

.role-buttons{
    margin-top: 2%;
    width: 600px;
    height: 160px;
    display: flex;
    justify-content: space-around;
    font-family: Futura PT;
}
.role-buttons button{
    text-align: center;
    width: 282px;
    height: 100%;
    border: 1px solid#239ED9;
    background-color: transparent;
    border-radius: 4px;
}
.role-buttons button p{
    /* background-color: khaki; */
    text-align: center;
    padding-top: 5%;
}

.role-buttons button:hover{
    background-color: #239ED9;
}
.transaction-form form{
    font-family: Futura PT;
    margin-top: 8%;
    padding: 0;
    padding-bottom: 8%;
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.transaction-form label{
    font-weight: 500;
  font-family: "Jost", sans-serif;

}
.transaction-form form .login-input{
    width: 100%;
    border: 1px solid #B2B2B3;
    font-family: Futura PT;
}
.transaction-form{
    font-family: Futura PT;
    margin-top: 3%;
    width: 660px;
    display: flex;
    justify-content: center;
    background: #FDFEFF;
box-shadow: 0px 0px 6px rgba(47, 73, 86, 0.2);
border-radius: 16px;
}
.item-category{
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #B2B2B3;
    padding-left: 3%;
    font-family: Futura PT;
}

.second-div{
    display: flex;
    justify-content: space-between;
  font-family: "Jost", sans-serif;
}


.second-div div{
    margin-top: 4%;
    width: 242px;
}
.textarea-div textarea{
width: 100%;
height: 100px;
border-radius: 4px;
outline: none;
padding: 1.2% 1.5%;
border: 1px solid #B2B2B3;
}
.textarea-div{
    margin-top: 4%;
    font-family: Futura PT;
    position: relative;
    padding-bottom:7% ;
}
.textarea-div #uploadImages{
    position: absolute;
    right: 0;
    font-size: 15px;
    padding: 3px;
    color: #239ED9;
    text-align: center;
    background-color: transparent;
    border: 1px solid#239ED9;
    border-radius: 4px;
}
.shipping{
    display: flex;
    flex-direction: column;
    font-family: Futura PT;
}
.shippingfee{
    display: flex;
    font-family: Futura PT;
}
.shippingfee div{
    font-family: Futura PT;
    display: flex;
    flex-direction: column;
    width: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: 400 !important;
}
.drop, .inspection{
    display: flex;
    flex-direction: column;
     margin-top: 4%;
    width: 242px;
    font-family: Futura PT;
}
.drop label, .inspection label{
    margin-bottom: 3%;

}
.drop select, .inspection input{
    margin-bottom: 2%;
}
#submit{
    margin-top: 7%;
    padding: 10px 20px;
    background: #239ED9;
    border-radius: 4px;
    outline: none;
    border: #239ED9;
    color: #FDFEFF;
    font-family: Futura PT;
}
#item-attribute{
    background-color: #EAEAEA;
    color: #9FA2A5;
    border: 1px solid #EAEAEA;
}



/* media queries */
@media (max-width: 680px) {
    .role-buttons{
    width: 88%;
    }
    .role-buttons button{
     width: 48%;
    height: 85%;

    }
    .transaction-form{
        width: 95%;
    }
    .transaction-form form{
        width: 95%;
    }
    .second-div div{
        width: 48%;
    }
}






/* transaction accepted page css */
.accepted-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 25%; */
    /* background-color: tan; */
    margin-top: 5%;
    padding-bottom: 7%;
    text-align: center;
}
.accepted-section div{
    /* background-color: hotpink; */
    text-align: center;
}
.accepted-section p{
    /* background-color: yellow; */
    text-align: center;
    margin-top: 2%;
}
.TransactionAccepted h2{
    font-family: 'Montserrat', sans-serif;

    }
.abutton{
    text-align: center;
    margin-top: 1%;
}
.accepted-section button{
    width: 17%;
    padding: 10px 20px;
    background: #239ED9;
    border-radius: 4px;
    outline: none;
    border: #239ED9;
    color: #FDFEFF;
    font-family: Futura PT;
}

@media (max-width: 450px) {
    .TransactionAccepted h2{
        font-size: 22px;
        /* background-color: khaki; */
        text-align: center;
        margin-left: 0;
    }
    .accepted-section button{
        width: 31%;
    }
}


/* transaction delined page css */
.declined-transaction form textarea{
    outline: none;
    /* width: 600px; */
    width: 54%;
    height: 250px;
    border: 1px solid #B2B2B3;
    border-radius: 4px;
    padding-left: 1.2%;
    padding-top: 1.2%;
    font-family: 'Futura PT';

}
.declined-transaction h2{
    font-family: 'Montserrat', sans-serif;
    margin-left: 0;
    padding-bottom: 1%;
}
.declined-transaction{
    margin-inline: 7%;
    margin-block: 1%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
}
.declined-transaction p{
    padding-bottom: 1%;
    font-weight: 500;
    font-family: 'Futura PT';
    font-size: 16px;
}
.declined-transaction form button{
    margin-top: 2%;
    padding: 10px 20px;
    background: #239ED9;
    border-radius: 4px;
    outline: none;
    border: #239ED9;
    color: #FDFEFF;
    font-family: Futura PT;
}
 
@media (max-width: 768px) {
    .declined-transaction form textarea{
        width: 67%;
        padding-left: 2%;
        padding-top: 2%;
        }
}

@media (max-width: 560px) {
    .declined-transaction form textarea{
        width: 75%;
        }
}
@media (max-width: 425px) {
    .declined-transaction form textarea{
        width: 100%;
        padding-left: 3%;
        padding-top: 3%;
        }
        .declined-transaction h2{
           font-size: 26px;
        }
        
}

@media (max-width: 365px) {
        .declined-transaction h2{
           font-size: 23px;
        }
        .declined-transaction p{
            font-size: 15px;
         }
        
}
