.accountsetting {
  display: flex;
  gap: 300px;
  margin-top: 50px;
}

.accountlink {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.accountlink:hover {
  color: #000;
}

/* .accountlink a .active {
  border-bottom: #239ed9 3px solid;
} */
