.accountsetting {
  display: flex;
  justify-content: space-between;
  
  width:90%;
  margin:auto;
  margin-top: 2rem;
}

.accountlink {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
  font-weight: 500;
}

.accountlink:hover {
  color: #000;
}

/* .accountlink a .active {
  border-bottom: #239ed9 3px solid;
} */
