@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,400&family=Montserrat:ital,wght@0,100;0,400;0,500;0,800;1,100;1,300;1,400;1,500&display=swap');
@font-face {
    font-family: Futura PT;
    src: url('../../fonts/Futura\ Book\ font.ttf');
}

@font-face {
    font-family: Montserrat Variable;
    src: url('../../fonts/Montserrat-ExtraBold.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page{
    display: flex;
    /* height: 100vh; */
}
.left-box{
    /* width: 630px; */
    width: 43%;
    /* height: 100vh; */
    background-color: #E2F3FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-div{
    /* background-color: yellow; */
    text-align: center;
    margin-top: 19%;
}
.logo-div img{
width: 40%;
}
.right-box{
    width: 57%;
    display: flex;
    justify-content: center;
    background-color: #F9FAFC;
    /* background-color: brown; */
}
.login-box{
    /* background-color: blueviolet; */
    margin-top: 15%;
}
.forgot{
    width: 408px ;
    padding-bottom: 7%;
    /* align-items: center; */
}
#social-icon{
    width:100%;
}
.login-input{
    padding-left: 10%;
    width: 408px ;
    height: 40px;
    margin-top: 8px;
    border: 1px solid #B2B2B2;
    border-radius: 4px;
    background-color: #FDFEFF;
    outline: none;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Futura PT'; */
}
.input-box{
    position: relative;
}
.icon{
    position: absolute;
    left: 4%;
    top: 20px;
    /* width: 6%; */
}
.login-box label{
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Futura PT'; */
    font-weight: 500px;
}
.login-box form{
    display: flex;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Futura PT'; */
    font-size: 16px;
}
.login-box p{
    margin-bottom: 5%;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Futura PT'; */
}
.login-box h2{
    margin-bottom: 4%;
    font-family: 'Montserrat';
    font-weight: 800;
}
.settings{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* text-align:center; */
    margin-top: 3%;
    font-size: 16px;
}
.settings p{
    margin-top: 3%;
    /* height:100%; */
    /* margin-top:7px; */
    /* background-color:green; */
   
    
}
.login-btn{
    height: 46px;
    background-color: #239ED9;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 6%;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Futura PT'; */
}
.login-btn:disabled{
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3) */
    background-color:  #93DBEF;

}
.login-btn:hover{
    background-color: #4CAFE3;
    box-shadow: 0px 4px 4px rgba(76, 175, 227, 0.3);

}
.check{
    display:flex;
    align-items:center;
    width: 140px;
    /* background-color:blue; */
    text-align:center;
}

.check p{
    /* background-color: aquamarine; */
    padding-left: 5%;
    /* font-family:Futura PT ; */
    /* font-weight: 450; */
    font-family: 'Jost', sans-serif;


}
.end{
    /* background-color: yellow; */
    text-align: center;
    margin-top: 4%;
}
#signUp, #forgotPassword{
    color:#4CAFE3;
}
#signUp, #forgotPassword, #rememberMe, .login-btn{
    cursor: pointer;
}
.alternate-login{
    font-family: 'Futura PT';
    /* background-color: #4CAFE3; */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20%;
}
.alternate-login p{
    color: #9FA2A5;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #9FA2A5;
    line-height: 0.1em;
}
.alternate-login p span{
    background-color: #F9FAFC;
    padding: 0 10px;
}
.alternate-login b{
margin-block: 2%;
font-size: 16px;
/* font-weight: 600; */
}
#social-icon{
/* color: red; */
height: 1.7em;
}
.social-buttons{
    margin-top: 3% ;
    display: flex;
    justify-content: space-around;
}
.social-buttons button{
background: #FDFEFF;
box-shadow: 0px 4px 4px rgba(76, 175, 227, 0.3);
border-radius: 4px;
width: 40px;
height: 40px;
border: none;
}
.forgot-password{
    /* height: 80vh; */
}



/* media query */
@media (max-width: 768px){
.right-box{
    width: 60%;
    display: flex;
    justify-content: center;
    /* background-color: brown; */
}
.left-box{
    width: 40%;
}
.login-box{
   width: 90%;
    
}
}

@media (max-width: 680px){
  .login-page{
        background-color: #F9FAFC;
    }
   .left-box{
    display: none;
   }
   .right-box{
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
   }
   .forgot-password{
    height: 100vh;
}
   .login-box{
    width: 92%;
    /* width: ; */
   }
   .login-input{
    width: 100%;
   }
}