* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.ComingSoon{
  text-align: center;
  background-color: #d6d6d6;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.ComingSoon::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../images/bgimage.jpeg') no-repeat center center/cover ;
  opacity: 0.85;

}

.allPage{
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mc__alert {
  text-align: center;
}
.mc__alert--sending {
  color: green;
  -webkit-animation: fade-loop 0.8s ease-in-out infinite alternate-reverse both;
  animation: fade-loop 0.8s ease-in-out infinite alternate-reverse both;
}
.mc__alert--success {
  color: blue;
  margin-top: -60px;
}
.mc__alert--error {
  color: red;
  font-weight: bold;
}
.mc__alert--error a {
  color: yellow;
  transition: 0.3s ease-in-out;
  font-weight: normal;
  display: block;
  margin-top: 5px;
  opacity: 0.7;
}

.mc__alert--error a:hover {
  text-decoration: none;
  opacity: 1;
}

a {
  font-size: 2rem;
  cursor: pointer;
}

.content {
  position: relative;
  padding-top: 1rem;
  font-size: 2rem;
}

.content .ComingSoonText {
  font-family: 'Montserrat', sans-serif;
  color: #4cafe3;
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

.content .ComingSoonParag {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: lowercase;
  margin: 2% auto;
  margin-bottom: 4%;
  width: 500px;
}

.newsletter {
   font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 2rem;
}

.ComingSoonInput {
  /* Input */
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 15px;
  width: 600px;
  margin: 0 auto;
  align-self: center;
  border: 1px solid#B2B2B2;
  border-radius: 4px;
  outline: none;
}

.ComingSoonEmail {
  /*Button*/
  font-family: 'Montserrat', sans-serif;
  margin: 1.2rem 0;
  font-size: 16px;
  width: 132px;
  height: 40px;
  outline: none;
  border-radius: 4px;
  align-self: center;
  border: none;
  color: #FDFEFF;
  background-color:#239ED9;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.ComingSoonEmail:hover {
  transform: scale(1.05);
}

.ComingSoon .socials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin:auto;
  padding-top: 2rem;
}

@media (min-width: 280px) and (max-width: 608px) {
  .content .ComingSoonText {
    font-size: 3.4rem!important;
    padding: 2rem 0!important;
  }

  .content .ComingSoonParag {
    font-size: 1.3rem!important;
    width: 85%;
  }


  .ComingSoonInput {
    /* Input */
    font-size: 1rem;
    max-width: 330px!important;
  }

  .ComingSoonEmail {
    /*Button*/
    margin: 1rem;
    font-size: 1.2rem;
    width: 300px;
    padding: 12px;
    width: 200px;
    margin-top: 8%;
  }

  .ComingSoon .socials {
    padding-top: 13%;
  }
}

@media (min-width: 609px) and (max-width: 915px) {
  .content .ComingSoonText {
    font-size: 4rem!important;
    padding: 0.5rem 0;
  }

  .content .ComingSoonParag {
    font-size: 1.7rem;
    width: 90%;
  }

  .newsletter {
    display: flex;
  }

  .ComingSoonInput {
    /* Input */
    font-size: 1rem;
    max-width: 700px;
    margin-top: -2.5rem;
  }

  .ComingSoonEmail {
    /*Button*/
    display: inline-block;
    margin: 1.3rem 0;
    font-size: 1.5rem;
    text-align: center;
    width: 300px;
  }


  .ComingSoon .socials {
    margin-top: -3rem!important;
  }

  .ComingSoon .socials img {
    width: 70%;
  }
}
