.brand {
  width: 200px;
}

.circle-border {
  border-radius: 50%;
  background: #4cafe3;
  width: 46px;
  height: 46px;
}

.circle-border p {
  color: #ffffff;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}

.botton {
  display: inline-block;
  background: #000;
  color: #fff;
  border: 1px solid #239ed9;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Futura PT';
}

p {
  text-transform: capitalize;
}
