
@font-face {
    font-family: Futura PT;
    src: url('../../../fonts/Futura\ Book\ font.ttf');
}

@font-face {
    font-family: Montserrat Variable;
    src: url('../../../fonts/Montserrat-ExtraBold.ttf');
}
*{
    margin: 0;
}
label{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight:bolder;
    font-size: 16px;
    line-height: 142%;
    text-align:left;
    margin-bottom:0.5rem;
    letter-spacing: 0.03em;
    color: #1B1C1E;

}
input{
    border: 1px solid #ced4da;
    border-radius:4px;
    padding: 0.4rem 0 0.4rem 0.5rem;
}
input:focus{
    
    border: none;
    border-color: #ced4da;
    box-shadow: 0px 0px 5px 1px #239ED9;
}
.individualForm div .nameIcon{
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.individualForm div .nameInput{
    padding-left: 3rem;

    width: 100%;
}
.individualForm .PhoneInputCountryIcon--border{
    width: 1rem;
}

.individualForm .PhoneInputCountryIconImg{
    width: 2rem;
    position: absolute;
    margin-left: 0;
    margin-top: 0.5rem;
    z-index: 1;
    
}

.individualForm .PhoneInputCountry{
    position: absolute;
    margin-left: 1rem;
}

.individualForm .PhoneInputInput:focus{
    outline: none !important;
    border:1px solid #8bb7cc;
    box-shadow: 0 0 10px #8bb7cc;
}

.individualForm .PhoneInputInput{
    position: absolute;
    width: 32.5%;
    height: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    margin-left: 0rem;
    border:1px solid #ced4da;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 1rem;
    font-weight: 400;
    z-index: 0;
    padding-left: 4.5rem;
    border-radius: 0.25rem;
    
}

.individualForm .PhoneInputCountrySelectArrow{
    display: none;
    position: absolute;
    margin-left: 2rem;
}

.individualForm .PhoneInputCountrySelect{
    position: absolute;
    margin-left: 2.5rem;
    margin-top: 0.6rem;
    width: 4%;
    border-color: none;
    border: none;
    background-color: transparent;
    z-index: 1;
}
.individualForm .profileChangeBtn{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #239ED9;
    padding:0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color:white;
    margin-top: 2rem;
    
    border: 2px solid #239ED9;
    border-radius: 4px;
}
.individualForm div .saveChangesBtn{
    margin: auto;
    font-family: 'Futura PT';
    border: 1px solid #239ED9;
    margin-top: 2rem;
    font-weight: bolder;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #fff;
    border-radius: 4px;
    background-color: #239ED9;
}