.card {
  background-color: #239ed9;
}

.trans-btn {
  background-color: #239ed9;
  color: white;
  border: 0;
  border-radius: 4px;
  margin-top: 5px;
  padding: 11px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 46px;
}

.trans-btn img {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.btn {
  border: solid #239ed9;
  border-radius: 5px;
}

/* table {
  width: 500px;
} */

th {
  margin-left: 12px;
}
