
@font-face {
    font-family: Futura PT;
    src: url('../../fonts/Futura\ Book\ font.ttf');
}

@font-face {
    font-family: Montserrat Variable;
    src: url('../../fonts/Montserrat-ExtraBold.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    
    width: 100%;
}

.container-fluid .row{
    width: 100% ;
}

.container-fluid .row .logocol{
    background-color: #E2F3FC;
    padding: 0px;
    width: 45% ;
    align-items: center;
}


.container-fluid .row .logocol .logo{
    margin-top: 70%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

}

.container-fluid .row .logocol .hands{
    width: 100%;
    margin-left:0;
}
.error{
    color:red;
    font-size:10px;
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.tagline{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.03em;
    opacity: 0.7;
    color:black;
}
.header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    line-height: 142%;
}
.Signupbtn:hover{
    opacity:0.6;
}
.Signupbtn{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    height: 46px;
    border-color: transparent;
    /* background: #239ED9; */
    border-radius: 4px;
    color:white;
}

.container-fluid .row .formcol label{

    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0.03em;
}
.container-fluid .row .formcol div{
    position: relative;
    display: flex;
    width: 100%;
}

.container-fluid .row .formcol .input-group div .form-control:focus{   
    outline: none;
    border:1px solid #8bb7cc;
    box-shadow: 0 0 10px #8bb7cc;
}

.container-fluid .row .formcol .input-group  div .form-control{
    padding-left: 2.6rem;
}

.container-fluid .row .formcol .form .input-group div .icon{
    position: absolute;
    margin-left: 0rem;
    margin-top: -0.4rem;

}
.icon1{
    position: absolute;
    margin-left: 0rem;
    margin-top: 0.5rem;

}

.container-fluid .row .formcol .form{
    margin-top: 12%;
}

.container-fluid .row .formcol{
    padding: 10%;
    width: 55%;
    display: none;
}

.container-fluid .row .formcol .footer1 a{
    font-size: 13px;
    color: #239ED9;
}

.container-fluid .row .formcol .footer2 a{
    font-size: 16px;
    color: #239ED9;
}

.container-fluid .row .formcol .footer1{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bolder;
    font-size: 13px;
    line-height: 140%;
    /* or 18px */

    text-align: center;
}
.container-fluid .row .formcol .footer2{
    font-size: 16px;
    font-weight: bolder;
    text-align:center;
    font-family: 'Futura PT';
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.03em;    
}
.container-fluid .row .formcol .footDiv{
    max-width: 100%;
    text-align: center;
    padding-top: 1.5rem;
    display: block;
}
.orDiv{
    width:100%;
    position: absolute;
    height: 22px;
    margin-top:1rem;
}
.orDivImg{
    max-width:100%;
    margin:auto;
}
.logoLink{
    width: 60%;
    margin-top:2rem;
    margin:auto;
    align-items:center;
    justify-content: space-between;
}

.lastLogoDiv p{
    margin-top: 2rem;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.03em;
        
}
.lastLogoDiv{
    display: flex;
    flex-direction: column;
}
.signupCol{
    width: 55%;
    padding-left:3rem;
    padding-right:3rem;
    padding-top: 20%;
}
.successfulDiv p{
    margin-top: 1rem;
    margin-left: 0.25rem;

}
.successfulDiv{
    padding: 0.5rem;
    background: rgba(63, 181, 93, 0.2);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin:auto;
}
.welcomeDiv img{
    max-width:284px;
    margin-top:2rem;
    
}
.welcomeDiv{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items:center;

}
.welcomeDiv h1{
    text-align: center;
    font-size: 24px;
}
footer{
    display: none;
}
.openPhone2{
    overflow-y:scroll;
    border: 1px solid #ced4da;
    box-shadow: 0px 0px 3px 0px #239ED9;
    height:15rem;
    padding:0rem;
    position: absolute;
    margin-left: -1rem;
    background-color:rgb(189, 207, 219);
    z-index:1
}
@media (max-width:767px) {
    
    .container-fluid{
        
        display: block;
        width: 100%;
    }
    
    .container-fluid .row{
        width: 100% ;
        
    }

    
    .logocol{
        display:none;
    }
    .container-fluid .row .formcol{
       
        margin-top: 0rem;
        margin-left: 2rem;
        margin-right: 0;
        margin-bottom: 0;
        padding-left: 0;
        width: 100%;
        
    }
    .container-fluid .row .formcol .form {
        position: absolute;
        width:90%;
        margin-top: 0;
    }
    .container-fluid .row .formcol h1 {
        font-weight: 5rem;
        margin-top: 0;
    
    }
    
    .container-fluid .row .formcol .icon{
        margin-top: 1rem;
    }
    .footDiv{
        margin-top:425px;
        
    }
    .footer2{
        margin-top: 7rem;
    }
    .footer1{
        text-align: left;
        font-size: 2rem;
    }
    .label{
        display: none;
    }
    .input-group{
        margin-top: 2rem;
    }
    .form-control{
        margin-top: 0rem;
        margin-left: 0rem;
        width: 100%;
    }
    .Signupbtn{
        position: absolute;
        margin-top: 480px;
        width: 90%;

    }

    .Signupbtn:hover{
        opacity: 0.6;
    }
    .lastLogoDiv{
        display: none;
    }
    .welcomeDiv img{
        margin-left:1rem;
        margin-right:1rem;
    }
    .orDiv{
        margin-left: 0;
        width:90%;
    }
    .icon1{
        position: absolute;
        margin-left: 0rem;
        margin-top: 0rem;
    
    }
    
}