*{
    margin: 0;
}
.transContainer{
    margin-left: 8rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
}
.transContainer h1{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 142%;
}
.transContainer p{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.transContainer .transHeader{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 142%;
    margin-top: 2rem;
}

.transDetDiv{
    margin-bottom: 0;
}
.inTransDetDiv{
    margin-top: 1rem;
    display: flex;
    gap:30px;
}

.transKey{
    text-align: left;  
    width:30%;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;    
    letter-spacing: 0.03em;

}
.transValue{
    margin-top: 0rem;
    width: 75%;
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #1B1C1E;
}
.footInput{
    padding-left:3rem;
    width: 430px;
    border:none;
    color:black;
    border: 1px solid #B2B2B3;
}
.footBtn{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 140%;
    background-color:  #239ED9;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 0.5rem 1rem;
    border-color:transparent;
    border-radius:4px;
    color: #FDFEFF;
}
.sLine{
    width: 100%;
}
.copyShareDiv{
    display: flex;
    gap:1rem;
}
.copyShareDiv p{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #1B1C1E;
}
@media (max-width:767px) {
    .transContainer{
        margin-left: 1rem;
        width: 90%;
    }
    .transContainer h1{
        font-size: 2rem;
        
    }
    .inTransDetDiv{
        flex-direction: column;
        gap:0px;
    }
    .transKey{
        width:100%;
    }
    .sLine{
        width:80%;
        border:0.1px solid gray;
        outline:none;
        
    }
    .footInput{
        width:90%
    }

}